@model libros.Models.Answers

@{
    ViewData["Title"] = "Home Page";
}
<!-- Image Showcases-->
<section class="showcase">
    <div class="container-fluid p-0 bg-light">
        @* Primera pregunta *@
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2">
                <img src="imgs/primeraPregunta.png" style="height: 100%; width: 100%;">
            </div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>1. Expresiones lambda</h2>
                <p>
                    Obtén los números pares e impares del siguiente arreglo: <strong>int[] numeros = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15};</strong>
                </p>
                <p>
                    <strong>Impares: </strong>
                    @string.Join(", ", Model.PrimeroImpares)
                </p>
                <p>
                    <strong>Pares: </strong>
                    @string.Join(", ", Model.PrimeroPares) 
                </p>
            </div>
        </div>
        @* Segunda pregunta *@
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" >
                <img src="imgs/segundaPregunta.png" style="height: 100%; width: 100%;">
            </div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>2. Linq</h2>
                <p class="lead mb-0"></p>
                    A) Realiza consultas mediante Linq que arrojen los siguientes resultados:
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            Número de personas que son Hombres: <strong>@Model.SegundoHombres</strong>
                        </li>
                        <li class="list-group-item">
                            Número de personas que son Mujeres: <strong>@Model.SegundoMujeres</strong>    
                        </li>
                        <li class="list-group-item">
                            Cuantos son mayores de 20 y menores de 30: <strong>@Model.SegundoMenorTreinta</strong>
                        </li>
                        <li class="list-group-item">
                            Cuantos son mayores de 30: <strong>@Model.SegundoMayorTreinta</strong>
                        </li>
                    </ul>
                </p>
                <p>
                    B) Usuarios cuyo Id se encuentre en <strong>int[] ids = {1,4,13}</strong> 
                    <ul class="list-group list-group-flush">
                        @foreach (var usuario in Model.SegundoUsuarios)
                        {
                            <li class="list-group-item">
                                <strong>ID:</strong> @Html.DisplayFor(item => usuario.IdUsuario)<br>
                                <strong>Nombre:</strong> @Html.DisplayFor(item => usuario.Nombre)
                            </li>
                            
                        }
                    </ul>
                </p>

            </div>
        </div>
        @* Cuarta pregunta *@
        <div class="row g-0">
            
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>4. Ajax</h2>
            </div>
        </div>
        @* Quinta pregunta *@
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-2.jpg')"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>5. Stored Procedures</h2>
                <p>
                    Consulta para obtener registros por escritor, género o precio:
                </p>
            </div>
        </div>
        @* Sexta pregunta *@
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-1.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>6. Actions</h2>
                <p class="lead mb-0"></p>
                    A) Obtener un libro por id:
                </p>
                <p>
                    B) Actualizar libro
                </p>
                <p>
                    C) Load partial view
                </p>
                <p>
                    D) Formulario Ajax/Helpers
                </p>
            </div>
        </div>
        @* Séptima pregunta *@
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-2.jpg')"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>7. Blob Storage</h2>
                <p>
                    Carga de archivo
                </b>
            </div>
        </div>
    </div>
</section>
