@model IEnumerable<libros.Models.Libro>

<div class="table table-striped">
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdLibro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Escritor)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var libro in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(item => libro.IdLibro)
                    </td> 
                    <td>
                        @Html.DisplayFor(item => libro.Titulo)
                    </td> 
                    <td>
                        @Html.DisplayFor(item => libro.Escritor)
                    </td>  
                </tr>
            }
        </tbody>
    </table>
</div>